@import 'bootstrap/dist/css/bootstrap.min.css';


:root {
    --dark-green: #1A2D2B;
    --medium-green: #324F4D;
    --dark-pink: #BB6765;
    --medium-pink: #E5969C;
    --light-pink: #F5C9C6;
    --very-light-pink: #FFDAD9;

    --font-family: 'Arial, sans-serif';
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--very-light-pink);
    color: var(--dark-green);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--dark-green);
}

p {
    color: var(--dark-green);
    font-size: 1rem;
    line-height: 1.5;
}

a {
    color: var(--dark-pink);
    text-decoration: none;
}

a:hover {
    color: var(--medium-pink);
    text-decoration: underline;
}

button {
    background-color: var(--dark-pink);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--medium-pink);
}

input[type="text"], input[type="password"] {
    padding: 0.5rem;
    border: 1px solid var(--medium-pink);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
