.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: var(--light-pink);
  }
  
  .login-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .login-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
  }
  
  .login-page input {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--medium-pink);
  }
  
  .login-page button {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--dark-pink);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-page button:hover {
    background-color: var(--medium-pink);
  }
  